body {
  background-color: #999999;
  font-family: "Kantumruy Pro", sans-serif;
  color: #9C00D0;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
   /* This is for the dummy columns, replace or delete */
}

header{
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

h1{
  grid-column: span 2;
}

h1 a{
  text-decoration: none;
  color: #9C00D0;
}

nav{
  grid-column: span 10;
  margin-top: 24px;
  margin-bottom: 24px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  border-bottom: #9C00D0 solid 5px;
}

nav li{
    display: inline-block;
    border: 0px;
    width: 150px;
    font-size: 24px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-indent: 0;    
    background-color:white;
}

nav li a{
    color:#9C00D0;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: block;
    transition: background-color 0.25s;
}

nav li a:hover{
    background-color: #9C00D0;
    color: white;
}

.vertical{
  writing-mode: vertical-rl;
  vertical-align: middle;
 grid-column: span 2;
 margin-left: 0px;
 margin-right: 55px;
}

main{
  grid-column: span 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#mainimg{
  grid-column: span 2;
  height: 549px;
  width: 368px;
}

.text{
  grid-column: span 3;
}

footer{
  grid-column: span 12;
  border-top: #9C00D0 solid 5px;
  padding: 0;
  margin-top: 18px;
}