body{
    background-color: gray;
}

#wrapper {
    background-color: white;
    border: 5px solid blue;
    width: 1000px;
    margin: 1em auto;
    margin-bottom: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

header{
    grid-column: span 3;
    background: rgb(0,71,171);
background: linear-gradient(0deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
}

h1{
    font-family: Helvetica;
    font-weight: normal;
    font-style:italic;
}

h1 a{
    text-decoration: none;
    color:lightblue;
}

h1 a:hover{
    color: white;
}

nav{
    grid-column: span 3;
     background: rgb(0,71,171);
background: linear-gradient(0deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%); 
    margin-bottom: 0;
    border-top:solid blue 5px;
    border-bottom:solid blue 5px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    width: 250px;
    padding: 0px;
    border: solid blue 5px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    margin-right:-5px;
    font-family: helvetica;
    font-weight: bold;
     background: rgb(0,71,171);
background: linear-gradient(0deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
    text-indent: 0;
}

nav li a{
    color: lightblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    
}

nav li a:hover{
    color: white;
    background: rgb(0,71,171);
background: linear-gradient(180deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
}

aside{
    grid-column: span 1;
    margin: 0 auto 0 auto;
    background-color: lightblue;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

h2{
    font-family: Helvetica;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 15px;
    color: blue;
    border-bottom: solid blue 3px;
    margin-left: auto;
    margin-right: auto;
}

main{
    grid-column: span 2;
    margin: 0 auto 0 auto;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

p{
    font-family: Georgia;
}

.redlink{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.redlink:hover{
    color: blue;
}

.boldjustified{
    font-weight: bold;
    text-align: justify;
}

.floatimg{
    float:left;
    margin-right: 12px;
    margin-bottom: 0;
    padding: 0px;
    border: 3px solid blue;
}

footer{
    border-top: 5px solid blue;
    background-color: rgb(225, 0, 0);
    width: auto;
    margin: 0;
    padding: 1em;
    grid-column: span 3;
}